<html lang="en">
<body>
    <p id="heading">sidney monster is your friend here</p>
    <p id="comment" hidden>once you figure it out, check out :the start of the hundred years war</p>

    <script src="code.js"></script>
</body>
</html>